# IS 362 - Project 3
## Chinook Database Query

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Connect to database
conn = sqlite3.connect('C:/Users/capai/Downloads/Chinook_Sqlite.sqlite')

In [ ]:
# Query to get customer names with their purchased tracks and albums
query = """
select
    c.LastName,
    c.FirstName,
    t.Name,
    a.Title
from Customer c
inner join Invoice i on c.CustomerId = i.CustomerId
inner join InvoiceLine il on i.InvoiceId = il.InvoiceId
inner join Track t on il.TrackId = t.TrackId
inner join Album a on t.AlbumId = a.AlbumId
order by c.LastName, c.FirstName
"""

df = pd.read_sql_query(query, conn)
df

In [ ]:
# First 5 rows
df.head()

In [ ]:
conn.close()